header {
    /* // background: rgb(115, 0, 182); */
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, #000000 25%, rgb(0, 0, 0) 0%);
    /* // margin: 0 0; */
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

@media screen and (width < 645px) {
    .mini-navbar-wrap {
        flex-direction: column;
        align-items: center;
    }

    .mini-navbar {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mini-navbar ul {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (width < 407px) {
    .logo {
        display: none;
    }
}

header ul span {
    color: white;
    padding: 0.5em;
}

.mini-navbar ul {
    border-radius: 0.3em;
    padding-left: 0px;
    width: 100%;
}

header li {
    list-style: none;
    margin: .35em;
    padding: 0 .95em;
}

header a {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1.3px 1.3px #ffffff80;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

header a:hover {
    color: lightblue;
}

nav {
    border-top: transparent;
}

.logo {
    padding-left: 15%;
    font-size: 1em;
    color: white;
    padding-bottom: 0;
}

.logo img {
    size: 60px 60px;
}

.logo-wrap {
    font-family: 'Comic-Sans', cursive;
    /* // letter-spacing: .1em; */
    margin: 0 0;
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    /* // height: 80%; */
}