h1 {
    text-align: center;
    padding-top: 3%;
}

.our_photos {
    text-align: center;
    margin-top:30px;
    margin-left: 4.6%;
    background-color: #fff;
    padding: 50px 50px;
    display: inline-block;
    justify-content: center;
    /* // grid-template-columns:  300px 300px 300px; Make the grid smaller than the container */

}

.our_photos .photo_box {
    text-align: center;
}

.our_photos .photo_box figure {
    margin: 0;
}

.our_photos img {
    width: 300px;
    image-resolution: 100px 100px;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 5px -1px 20px 6px gray;
}

.our_photos .photo_box h3 {
    width: 300px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    background-color: #252525;
    font-weight: 100px;
    margin: 0 auto;
    padding: 10px 0;
    transition: ease-in all 0.5s;
    text-decoration: none;
    border-radius: 20px;
}

.our_photos h2 {
    margin-top: 10px;
    margin-bottom: 2px;
}
.our_photos .photo_box a{
    text-decoration: none;
    color: white;
}

.our_photos .photo_box p {
    width: 400px;
    color: rgb(0, 0, 0);
    font-size:20px;
    line-height: 20px;
    /* // background-color: #252525; */
    font-weight: 300;
    margin:0 0;
    padding: 0 0;
    transition: ease-in all 0.5s;
}

.our_photos .photo_box h3:hover {
   background: rgb(154, 70, 1) 25%;
   transition: ease-in all 0.5s;
}

/* // col-md-4 .margin_bottom1 {
//     margin-bottom: 10px;
// } */
